.rose-red {
    background-color: #C33C54 !important;
}

.arctic-blue {
    background-color: #F4FAFF !important;
}

.alabaster {
    background-color: #F2F3F0;
}

.white-text {
    color: white !important
}

.img-cover {
    object-fit: cover !important;
}

.hide {
    display: none !important;
}

.teal {
    background-color: #087E8B;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}